*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #790252;
}
.desc{
    overflow: scroll;
}
h2{
    color: black;
}
::placeholder{
    color: #4C0033;
}
.mainnav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #4C0033;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.icon img{
    position: relative;
    top: 2px;
    left: 8px;
    padding: 7px;
    background-color: white;
    border-radius: 100%;
    height: 45px;
    width: 45px;
}
.searchbar{
    height: 50px;
    width: 200px;
}
.mainsearch{
    background-color: rgba(245, 245, 220, 0.595);
    margin: 0 auto;
    display: inline-block;
    height: 70%;
    width: 150%;
    position: relative;
    top: 1%;
    right: 40%;
    border-radius: 50px;
    padding: 4px 10px;
    font-size: 20px;
    border-color: #1c0314;
}
.mainsearch:hover{
    background-color: white;
    font-weight: 600;
}
.searchbar img{
    position :relative;
    bottom: 43px;
    left: 203px;
    height: 38px;
    width: 38px;

}
.searchbar img:hover{
    cursor: pointer;
}
main{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-wrap: wrap;
}
.container{
    position: relative;
    background-color: #4C0033;
    padding: 20px 5px 5px ;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    margin: 10px 8px;
}
.overview{
    /* width: 300px;
    background-color: aliceblue;
    border-radius: 20px;
    position: absolute;
    bottom: 100%; */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    background-color: azure;
    padding: 1rem;
    max-height:100%;
    transform: translateX(-101%);
    border-radius: 2px 20px;
    transition: transform 0.5s ease-in-out;
}
.container:hover .overview{
    transform: translateX(0%);
}
.rating{
    background-color: rgb(255, 0, 0);
    width: 80px;
    padding: 4px 10px;
    border-radius: 20px;
}
.rating h2{
    color: rgb(20, 86, 64);
}
.rowcontainer2{
    display: flex;
    justify-content:space-between;
    margin: 0px 12px;
}

a{
    text-decoration: none;
    color: aqua;
}

.ro